body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #A2D5F2;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: #07689F;
  font-family: "Verdana";
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}

button {
  background-color: #FF7E67;
}

button:hover{
  background-color: #07689F;
}
